/*==========================
      FEATURES
==========================*/

.features{

padding:120px 0;

background:white;

}

.features h2{

text-align:center;

font-size:42px;

margin-bottom:70px;

color:#1f2937;

}

.feature-grid{

width:1200px;

max-width:95%;

margin:auto;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.feature-card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 40px rgba(0,0,0,.05);

transition:.35s;

text-align:center;

}

.feature-card:hover{

transform:translateY(-12px);

}

.feature-card img{

width:70px;

margin:auto;

margin-bottom:25px;

}

.feature-card h3{

margin-bottom:15px;

font-size:24px;

}

.feature-card p{

line-height:2;

color:#64748b;

}
